@font-face {
  font-family: "Bender";
  src: url("../fonts/Bender.otf"); }
@font-face {
  font-family: "BenderBlack";
  src: url("../fonts/Bender_Black.otf"); }
@font-face {
  font-family: "Proxima";
  src: url("../fonts/ProximaNova-Regular.ttf"); }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0; }

input[type='number'] {
  -moz-appearance: textfield; }

body {
    background-image: url(/img/404/bg.jpg);
    background-color: #000;
    margin: 0;
    font-family: "Bender";
    background-position: top center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-repeat: no-repeat;}
  body:active, body :hover, body :focus {
    outline: 0;
    outline-offset: 0; }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5; }
  body::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5; }
  body::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000; }

button {
  border: 0;
  border-radius: 0;
  cursor: pointer;
  color: #FFF;
  -moz-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all; }

ul, li, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
.w-100 {
    width: 100%;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

  .block-1 header {
    padding: 30px 0; }
    .block-1 header .col-6 img {
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .block-1 header .col-6 img:hover {
        opacity: 0.7; }
    .block-1 header .col-auto a {
      display: flex;
      text-decoration: none;
      font-style: italic;
      color: #FFF;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .block-1 header .col-auto a:hover {
        opacity: 0.7; }
    .block-1 header .col-auto .link:after {
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      content: "";
      position: absolute;
      height: 3px;
      background: #FFF;
      width: 0;
      bottom: -3px; }
    .block-1 header .col-auto .link:hover:after {
      width: 30px; }
    .block-1 header .col-auto .address:after {
      margin-left: 25px; }
    .block-1 header .icon {
      height: 20px;
      margin-right: 5px; }
.block-404 {
    color: #fff;
}
.block-404 h1 {
    text-align: center;
    font-size: 26.4em;
    margin: 30px 0 0 0;
    line-height: .7em;
}
.block-404 p {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 41.5px;
}
.block-404 .poputal {
    display: inline-block;
    border: solid 3px #fff;
    border-radius: 37.5px;
    padding: 15px 25px;
    color: #FFF;
    text-decoration: none;
    font-size: 25.5px;
    text-align: center;
    background-color: transparent;
    -moz-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
}
.block-404 .poputal:hover {
    -moz-transform: scale(.9);
    -o-transform: scale(.9);
    -webkit-transform: scale(.9);
    transform: scale(.9);
    opacity: .7;
}
.socnetwork {
    margin-top: 385px;
}
.socnetwork h2 {
    font-size: 2.9em;
    text-transform: uppercase;
    margin: 0;
}
.socnetwork span {
    display: block;
    text-align: center;
    margin: 0.7em 0;
    font-size: 1.7em;
    text-transform: uppercase;
}
.socnetwork i {
  font-size: 1.7em;
  color: #a90008;
  line-height: 62px;
  display: block;
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s; }
.socnetwork a {
  height: 100%;
  display: block;
  position: absolute;
  width: 65px;
  top: 0; }
.socnetwork .nolag {
  cursor: pointer;
  width: 65px }
.socnetwork .round_network {
  height: 65px;
  background: #000;
  border-radius: 55px;
  border: solid 3px #fff;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -webkit-transition: 0.8s;
  transition: 0.8s; }
.socnetwork .nolag:hover .round_network {
  background: #a90008;
  -moz-transform: rotateY(540deg) scale(0.9);
  -o-transform: rotateY(540deg) scale(0.9);
  -webkit-transform: rotateY(540deg) scale(0.9);
  transform: rotateY(540deg) scale(0.9); }
.socnetwork .nolag:hover i {
  -moz-transform: rotateY(-920deg) scale(1.1);
  -o-transform: rotateY(-920deg) scale(1.1);
  -webkit-transform: rotateY(-920deg) scale(1.1);
  transform: rotateY(-920deg) scale(1.1);
  color: #FFF; }

.block-map {
  margin-top: 180px; }
  .block-map h2 {
    font-size: 2.1em;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .block-map #map {
    height: 550px;
    width: 100%; }
.footer {
  padding: 30px 0;
  background: #000; }
  .footer p {
    font-family: "ROBOTO";
    color: #FFF; }
    .footer p a {
      color: red; }
  .footer a {
    font-family: "ROBOTO";
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .footer a:hover {
      -moz-transform: scale(0.9);
      -o-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0.7; }
  .footer .developers img {
    height: 40px;
    padding-right: 10px; }
  .footer .link {
    color: #FFF;
    border-bottom: 1px dashed #FFF; }
@media (min-width: 480px) and (max-width: 767.98px) {
  .footer p {
    font-size: 0.8em; }
    .block-404 h1 {
        font-size: 9em
    }
    .block-404 p {
        font-size: 1.6em;
    }
    .block-404 .poputal {
        font-size: 1em;
    }
    .socnetwork {
        margin-top: 105px;
    }
    .block-map {
      margin-top: 100px; }
}
@media (max-width: 479px) {
    mobbr {
    display: block; }
    .block-404 h1 {
    font-size: 6em;}
    .block-404 p {
    font-size: 1.2em;}
    .block-404 .poputal {
    font-size: 0.8em;
    padding: 5px 15px;}
    .block-map #map {
    height: 400px; }
    .footer {
    padding: 15px 0; }
    .footer .link {
      font-size: 0.5em; }
    .footer p {
      font-size: 0.6em; }
    .footer img {
      height: 30px; }
    .socnetwork h2 {
        font-size: 2.1em;}
    .socnetwork span {
        font-size: 1.2em;}
    .socnetwork i {
        font-size: 1.2em;
        line-height: 45px;
    }
    .socnetwork .nolag {
        width: 50px;
    }
    .socnetwork .round_network {
        height: 50px;
    }
}
