.menu {
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  padding: 15px 0;
  cursor: pointer;
}
.menu.active:before {
  -webkit-animation: slideLeft 0.2s 0.05s ease-out forwards;
          animation: slideLeft 0.2s 0.05s ease-out forwards;
}
.menu.active:after {
  -webkit-animation: slideRight 0.2s 0.05s ease-out forwards;
          animation: slideRight 0.2s 0.05s ease-out forwards;
}
.menu.active .bar {
  -webkit-animation: rotate45 0.2s ease-out forwards;
          animation: rotate45 0.2s ease-out forwards;
}
.menu.active .bar:last-child {
  -webkit-animation: rotate135 0.2s 0.2s ease-out forwards;
          animation: rotate135 0.2s 0.2s ease-out forwards;
}
.menu.back:before {
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-animation: slideBack 0.2s 0.05s ease-out forwards;
          animation: slideBack 0.2s 0.05s ease-out forwards;
}
.menu.back:after {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  -webkit-animation: slideBack 0.2s 0.05s ease-out forwards;
          animation: slideBack 0.2s 0.05s ease-out forwards;
}
.menu.back .bar {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: rotateBack 0.2s ease-out forwards;
          animation: rotateBack 0.2s ease-out forwards;
}
.menu.back .bar:last-child {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-animation: rotateBack 0.2s 0.2s ease-out forwards;
          animation: rotateBack 0.2s 0.2s ease-out forwards;
}
.menu:before {
  content: '';
  display: block;
  width: 35px;
  height: 3px;
  background: #FFF;
}
.menu:after {
  content: '';
  display: block;
  width: 35px;
  height: 3px;
  background: #FFF;
}
.menu .bar {
  display: block;
  width: 35px;
  height: 3px;
  background: #FFF;
  margin: 6px 0;
}
.menu .bar:last-child {
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 18px;
}
@-webkit-keyframes rotate135 {
  form {
    opacity: 1;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
}
@keyframes rotate135 {
  form {
    opacity: 1;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
}
@-webkit-keyframes rotate45 {
  to {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
@keyframes rotate45 {
  to {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
@-webkit-keyframes rotateBack {
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes rotateBack {
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@-webkit-keyframes slideRight {
  to {
    -webkit-transform: translateX(122%);
            transform: translateX(122%);
  }
}
@keyframes slideRight {
  to {
    -webkit-transform: translateX(122%);
            transform: translateX(122%);
  }
}
@-webkit-keyframes slideLeft {
  to {
    -webkit-transform: translateX(-122%);
            transform: translateX(-122%);
  }
}
@keyframes slideLeft {
  to {
    -webkit-transform: translateX(-122%);
            transform: translateX(-122%);
  }
}
@-webkit-keyframes slideBack {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slideBack {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

