@font-face {
  font-family: "Bender";
  src: url("../fonts/Bender.otf"); }
@font-face {
  font-family: "BenderBlack";
  src: url("../fonts/Bender_Black.otf"); }
@font-face {
  font-family: "Proxima";
  src: url("../fonts/ProximaNova-Regular.ttf"); }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

input[type='number'] {
  -moz-appearance: textfield; }

body {
  margin: 0;
  font-family: "BenderBlack"; }
  body:active, body :hover, body :focus {
    outline: 0;
    outline-offset: 0; }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5; }
  body::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5; }
  body::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000; }

button {
  border: 0;
  border-radius: 0;
  cursor: pointer;
  color: #FFF;
  -moz-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all; }

ul, li, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

h1, h2, h3, h4, h5, p, a, span, address, li, label, mobbr {
  font-size: 1em;
  margin: 0;
  line-height: 1.3; }
  h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, p::selection, a::selection, span::selection, address::selection, li::selection, label::selection, mobbr::selection {
    background-color: #F00;
    color: #FFF; }
  h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, address::-moz-selection, li::-moz-selection, label::-moz-selection, mobbr::-moz-selection {
    background-color: #F00;
    color: #FFF; }

h1, h2, h3, h4, h5, p, span, address, li, label, a:not([href]):not([tabindex]) {
  cursor: default; }

.w-100 {
  width: 100% !important; }

.h-100 {
  height: 100% !important; }

.m-0 {
  margin: 0 !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.overfloff {
  overflow: hidden;
  padding-right: 8px; }
  .overfloff .bc, .overfloff .hidden_cardbye, .overfloff .hidden_info, .overfloff .preload {
    padding-right: 8px; }

h2 {
  font-weight: 600;
  font-size: 2.9em;
  text-transform: uppercase; }

.whitepower {
  background-color: #000 !important;
  -moz-transition: 1.5s ease opacity;
  -o-transition: 1.5s ease opacity;
  -webkit-transition: 1.5s ease opacity;
  transition: 1.5s ease opacity; }
  .whitepower img {
    display: none; }

.preload {
  z-index: 220;
  background-color: #000;
  width: 100%;
  height: 100%;
  position: fixed; }

.gogobonuspower {
  opacity: 0; }

.political_par {
  text-align: center; }
  .political_par a {
    text-decoration-style: dashed; }
  .political_par [type="checkbox"]:checked, .political_par [type="checkbox"]:not(:checked) {
    position: absolute;
    opacity: 0; }
  .political_par [type="checkbox"]:checked + label, .political_par [type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 17px;
    cursor: pointer;
    line-height: 10px;
    display: inline-block; }
  .political_par [type="checkbox"]:checked + label {
    color: #FFF;
    font-family: ROBOTO; }
    .political_par [type="checkbox"]:checked + label a {
      color: #FFF; }
  .political_par [type="checkbox"]:not(:checked) + label {
    color: #ff0000;
    font-family: ROBOTO; }
    .political_par [type="checkbox"]:not(:checked) + label a {
      color: #ff0000; }
  .political_par [type="checkbox"]:checked + label:before, .political_par [type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border: 1px solid #ddd;
    background: transparent; }
  .political_par [type="checkbox"]:checked + label:after, .political_par [type="checkbox"]:not(:checked) + label:after {
    content: "";
    width: 8px;
    height: 8px;
    background: #FFF;
    position: absolute;
    top: 1px;
    left: 1px;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .political_par [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  .political_par [type="checkbox"]:checked + label:after {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }

.bonus_card, .bonus_card__2 {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #000;
  width: 100%; }
  .bonus_card p, .bonus_card__2 p {
    color: #FFF;
    z-index: 1;
    text-transform: uppercase;
    font-style: italic; }
  .bonus_card .closer, .bonus_card__2 .closer {
    margin-top: 10px;
    width: 30px;
    cursor: pointer;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .bonus_card .closer:hover, .bonus_card__2 .closer:hover {
      opacity: 0.6;
      -moz-transform: scale(0.8);
      -o-transform: scale(0.8);
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }

.bonus_card {
  z-index: 155; }
  .bonus_card .block_f {
    text-align: right; }
    .bonus_card .block_f .builder {
      width: 122%; }
    .bonus_card .block_f .first {
      font-size: 3em; }
    .bonus_card .block_f .second {
      color: #F00;
      font-size: 1.7em;
      margin-top: 6px; }
    .bonus_card .block_f .third {
      font-family: "Bender";
      font-size: 1.4em;
      margin-top: 6px; }
    .bonus_card .block_f button {
      background-color: #c30202;
      font-size: 1.3em;
      text-transform: uppercase;
      padding: 15px 35px;
      margin-top: 20px;
      border: none;
      border-radius: 30px;
      font-weight: 600;
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
      .bonus_card .block_f button:hover {
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1); }

.bonus_card__2 {
  z-index: 145;
  display: none; }
  .bonus_card__2 .block_s p {
    margin-left: 50px; }
  .bonus_card__2 .block_s .builder {
    width: 198%; }
  .bonus_card__2 .block_s .first {
    font-size: 3em;
    margin-top: 20px; }
  .bonus_card__2 .block_s .second {
    font-size: 1.5em;
    margin-top: 20px; }
  .bonus_card__2 .block_s .martop {
    margin-top: 10px; }
    .bonus_card__2 .block_s .martop button {
      background-color: #c30202;
      color: #FFF; }
    .bonus_card__2 .block_s .martop .political_par {
      margin: 10px auto;
      font-size: 0.5em; }
  .bonus_card__2 .block_s2 .political_par [type="checkbox"] + label {
    font-size: 0.5em; }
  .bonus_card__2 .block_s2 .first {
    font-size: 1.5em; }
  .bonus_card__2 .block_s2 .group {
    margin-bottom: 16px; }
  .bonus_card__2 .block_s2 button {
    font-size: 0.7em;
    padding: 10px 0;
    margin-bottom: 10px; }

.hidmenu {
  padding: 25px 15px;
  border-bottom: 1px solid #000; }
  .hidmenu a {
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 1.4em;
    margin: 10px 0; }

.hidden_info {
  display: none;
  background: linear-gradient(to bottom, #ce1c1c, #5b010e);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 200; }
  .hidden_info .logo {
    width: 300px; }
  .hidden_info .text-scale {
    -moz-transform: rotate3d(20, 0, 0, -90deg);
    -o-transform: rotate3d(20, 0, 0, -90deg);
    -webkit-transform: rotate3d(20, 0, 0, -90deg);
    transform: rotate3d(20, 0, 0, -90deg); }
  .hidden_info .no-scale {
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  .hidden_info .images img {
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
  .hidden_info .closer {
    width: 50px;
    margin-left: auto;
    margin-top: 15px;
    cursor: pointer;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .hidden_info .closer:hover {
      opacity: 0.6;
      -moz-transform: scale(0.8);
      -o-transform: scale(0.8);
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
  .hidden_info .vh-100 {
    height: 100vh; }
  .hidden_info p, .hidden_info a {
    font-family: "Bender";
    color: #FFF;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .hidden_info a:hover {
    opacity: 0.6; }
  .hidden_info .onas_arrow div {
    background: rgba(130, 58, 67, 0.7);
    display: inline-block;
    margin: 10px 1px 10px 0;
    padding: 10px 20px;
    cursor: pointer;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .hidden_info .onas_arrow div:hover {
      opacity: 0.7; }
    .hidden_info .onas_arrow div img {
      width: 20px;
      vertical-align: middle; }
  .hidden_info .onas_arrow .onas_left img {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

.hidden_cardbye {
  display: none;
  background: linear-gradient(to bottom, #ce1c1c, #5b010e);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 200; }
  .hidden_cardbye .success h2, .hidden_cardbye .success p {
    color: #FFF; }
  .hidden_cardbye .political_par {
    font-size: 0.66em;
    margin: 8px 0; }
  .hidden_cardbye .closer {
    position: absolute;
    width: 50px;
    top: -50px;
    right: 50px;
    cursor: pointer;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .hidden_cardbye .closer:hover {
      opacity: 0.6;
      -moz-transform: scale(0.8);
      -o-transform: scale(0.8);
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
    .hidden_cardbye .closer img {
      width: 100%; }
  .hidden_cardbye .bonus a {
    display: inline-block;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .hidden_cardbye .bonus a:hover {
      -moz-transform: scale(0.8);
      -o-transform: scale(0.8);
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
  .hidden_cardbye p {
    font-size: 1.6em;
    text-transform: uppercase;
    margin: 20px 0 40px; }

.gobonus {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 170;
  background-color: #000; }

.block-1 {
  background: linear-gradient(to bottom, #ce1c1c, #5b010e);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat; }
  .block-1 header {
    padding: 30px 0; }
    .block-1 header .col-6 img {
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .block-1 header .col-6 img:hover {
        opacity: 0.7; }
    .block-1 header .col-auto a {
      display: flex;
      text-decoration: none;
      font-style: italic;
      color: #FFF;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .block-1 header .col-auto a:hover {
        opacity: 0.7; }
    .block-1 header .col-auto .link:after {
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      content: "";
      position: absolute;
      height: 3px;
      background: #FFF;
      width: 0;
      bottom: -3px; }
    .block-1 header .col-auto .link:hover:after {
      width: 30px; }
    .block-1 header .col-auto .address:after {
      margin-left: 25px; }
    .block-1 header .col-auto .phone {
      transform: scale(1.5); }
    .block-1 header .icon {
      height: 15px;
      margin-right: 4px;
      align-self: center; }
  .block-1 .underheader {
    padding-bottom: 95px; }
    .block-1 .underheader h1 {
      text-transform: uppercase;
      text-align: center;
      font-style: italic;
      font-size: 3em;
      color: #FFF;
      margin: 10px 0; }
      .block-1 .underheader h1::selection {
        background-color: #F00;
        color: #000; }
      .block-1 .underheader h1::-moz-selection {
        background-color: #F00;
        color: #000; }
  .block-1 .owl-carousel .card {
    position: absolute;
    width: 350px;
    top: 0;
    bottom: 0;
    left: 30px;
    margin: auto;
    cursor: pointer;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .block-1 .owl-carousel .card:hover {
      opacity: 0.7; }
  .block-1 .arrowparty div {
    background: rgba(130, 58, 67, 0.7);
    display: inline-block;
    margin: 10px 1px 10px 0;
    padding: 10px 20px;
    cursor: pointer;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .block-1 .arrowparty div:hover {
      opacity: 0.7; }
    .block-1 .arrowparty div img {
      width: 20px;
      vertical-align: middle; }
  .block-1 .arrowparty .arrow_left img {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

.block-2 {
  padding: 70px 0;
  font-weight: 600;
  text-transform: uppercase; }
  .block-2 p {
    font-size: 1.6em;
    margin-bottom: 70px; }
  .block-2 .titlsgo {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
    margin-bottom: 30px; }
    .block-2 .titlsgo:hover {
      opacity: 0.8; }
    .block-2 .titlsgo img {
      width: 100%;
      display: block; }
    .block-2 .titlsgo span {
      background: #000;
      color: #FFF;
      font-size: 0.85em;
      text-align: center;
      padding: 5px 0;
      bottom: 0;
      top: 0;
      width: 100%;
      display: block; }

.block-3 {
  background: linear-gradient(to bottom, #ce1c1c, #5b010e);
  padding: 100px 0;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center; }
  .block-3 h2 {
    margin-bottom: 50px; }
  .block-3 label {
    text-transform: none; }
  .block-3 .political_par {
    margin-top: 10px;
    font-size: 0.6em; }

.block-3 .group, .hidden_cardbye .group, .block_s .group, .block_s2 .group {
  position: relative;
  margin-bottom: 30px; }
  .block-3 .group input, .hidden_cardbye .group input, .block_s .group input, .block_s2 .group input {
    display: block;
    margin: 10px auto;
    background-color: transparent;
    padding: 10px 5px;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: transparent;
    font-size: 1em;
    font-weight: 600; }
    .block-3 .group input:focus, .block-3 .group input:not(:placeholder-shown), .hidden_cardbye .group input:focus, .hidden_cardbye .group input:not(:placeholder-shown), .block_s .group input:focus, .block_s .group input:not(:placeholder-shown), .block_s2 .group input:focus, .block_s2 .group input:not(:placeholder-shown) {
      color: #FFF; }
    .block-3 .group input::-webkit-input-placeholder, .hidden_cardbye .group input::-webkit-input-placeholder, .block_s .group input::-webkit-input-placeholder, .block_s2 .group input::-webkit-input-placeholder {
      color: transparent; }
    .block-3 .group input:-moz-placeholder, .hidden_cardbye .group input:-moz-placeholder, .block_s .group input:-moz-placeholder, .block_s2 .group input:-moz-placeholder {
      color: transparent; }
    .block-3 .group input::-moz-placeholder, .hidden_cardbye .group input::-moz-placeholder, .block_s .group input::-moz-placeholder, .block_s2 .group input::-moz-placeholder {
      color: transparent; }
    .block-3 .group input:-ms-input-placeholder, .hidden_cardbye .group input:-ms-input-placeholder, .block_s .group input:-ms-input-placeholder, .block_s2 .group input:-ms-input-placeholder {
      color: transparent; }
  .block-3 .group label, .hidden_cardbye .group label, .block_s .group label, .block_s2 .group label {
    font-family: ROBOTO;
    color: #FFF;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    -moz-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .block-3 .group input:focus-within ~ label, .block-3 .group input:not(:placeholder-shown) ~ label, .hidden_cardbye .group input:focus-within ~ label, .hidden_cardbye .group input:not(:placeholder-shown) ~ label, .block_s .group input:focus-within ~ label, .block_s .group input:not(:placeholder-shown) ~ label, .block_s2 .group input:focus-within ~ label, .block_s2 .group input:not(:placeholder-shown) ~ label {
    top: -15px;
    transform-origin: left center;
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    transform: scale(0.6); }
  .block-3 .group .bar, .hidden_cardbye .group .bar, .block_s .group .bar, .block_s2 .group .bar {
    position: relative;
    display: block;
    width: 100%; }
    .block-3 .group .bar:before, .block-3 .group .bar:after, .hidden_cardbye .group .bar:before, .hidden_cardbye .group .bar:after, .block_s .group .bar:before, .block_s .group .bar:after, .block_s2 .group .bar:before, .block_s2 .group .bar:after {
      content: "";
      height: 2px;
      width: 0;
      bottom: 10px;
      position: absolute;
      background: #FFF;
      -moz-transition: 0.3s ease all;
      -o-transition: 0.3s ease all;
      -webkit-transition: 0.3s ease all;
      transition: 0.3s ease all; }
    .block-3 .group .bar:before, .hidden_cardbye .group .bar:before, .block_s .group .bar:before, .block_s2 .group .bar:before {
      left: 50%; }
    .block-3 .group .bar:after, .hidden_cardbye .group .bar:after, .block_s .group .bar:after, .block_s2 .group .bar:after {
      right: 50%; }
  .block-3 .group input:focus ~ .bar:before, .block-3 .group input:focus ~ .bar:after, .hidden_cardbye .group input:focus ~ .bar:before, .hidden_cardbye .group input:focus ~ .bar:after, .block_s .group input:focus ~ .bar:before, .block_s .group input:focus ~ .bar:after, .block_s2 .group input:focus ~ .bar:before, .block_s2 .group input:focus ~ .bar:after {
    width: 50%; }
  .block-3 .group input:not(:placeholder-shown) ~ .bar:before, .block-3 .group input:not(:placeholder-shown) ~ .bar:after, .hidden_cardbye .group input:not(:placeholder-shown) ~ .bar:before, .hidden_cardbye .group input:not(:placeholder-shown) ~ .bar:after, .block_s .group input:not(:placeholder-shown) ~ .bar:before, .block_s .group input:not(:placeholder-shown) ~ .bar:after, .block_s2 .group input:not(:placeholder-shown) ~ .bar:before, .block_s2 .group input:not(:placeholder-shown) ~ .bar:after {
    width: 50%; }
.block-3 button, .hidden_cardbye button, .block_s button, .block_s2 button {
  color: #000;
  width: 100%;
  margin-top: 5px;
  padding: 15px 0;
  font-weight: 600;
  font-size: 1.2em;
  border-radius: 50px;
  background: #FFF;
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }
  .block-3 button:hover, .hidden_cardbye button:hover, .block_s button:hover, .block_s2 button:hover {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }

.block-4 h2 {
  padding: 150px 0; }
.block-4 h3 {
  font-size: 1.6em;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0px 0 40px; }
.block-4 p {
  font-size: 1.17em;
  line-height: 1.2em;
  font-family: "Bender"; }
.block-4 .bg1 {
  background-image: url("../img/block-4/bg1.jpg");
  background-repeat: no-repeat;
  background-size: 1980px auto;
  background-position: center center;
  height: 467px; }
.block-4 .bg2 {
  background-image: url("../img/block-4/bg2.jpg");
  background-repeat: no-repeat;
  background-size: 1980px auto;
  background-position: center center;
  height: 467px;
  margin-top: 145px; }

.block-5 .margh3 {
  margin: 60px 0 180px; }
.block-5 .mar40px {
  margin: 40px 0; }
.block-5 h3 {
  text-transform: uppercase;
  font-size: 1.6em;
  text-align: center;
  font-weight: 600; }
.block-5 .sn {
  margin-top: 40px; }
.block-5 .sninput .political_par {
  font-size: 0.75em;
  margin-bottom: 20px; }
  .block-5 .sninput .political_par [type="checkbox"]:checked + label, .block-5 .sninput .political_par [type="checkbox"]:checked + label a {
    color: #000; }
  .block-5 .sninput .political_par [type="checkbox"]:checked + label:after, .block-5 .sninput .political_par [type="checkbox"]:not(:checked) + label:after {
    background: #000; }
  .block-5 .sninput .political_par [type="checkbox"]:checked + label:before, .block-5 .sninput .political_par [type="checkbox"]:not(:checked) + label:before {
    left: 2px;
    top: 2px; }
  .block-5 .sninput .political_par [type="checkbox"]:checked + label:after, .block-5 .sninput .political_par [type="checkbox"]:not(:checked) + label:after {
    top: 3px;
    left: 3px; }
.block-5 .sninput .group {
  position: relative;
  margin-bottom: 30px; }
  .block-5 .sninput .group input {
    display: block;
    margin: 15px auto;
    background-color: transparent;
    padding: 10px 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    color: transparent;
    font-size: 1em;
    font-weight: 600; }
    .block-5 .sninput .group input::-webkit-input-placeholder {
      color: transparent; }
    .block-5 .sninput .group input:-moz-placeholder {
      color: transparent; }
    .block-5 .sninput .group input::-moz-placeholder {
      color: transparent; }
    .block-5 .sninput .group input:-ms-input-placeholder {
      color: transparent; }
    .block-5 .sninput .group input:focus, .block-5 .sninput .group input:not(:placeholder-shown) {
      color: #000; }
  .block-5 .sninput .group label {
    font-family: ROBOTO;
    color: #000;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    -moz-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .block-5 .sninput .group input:focus ~ label, .block-5 .sninput .group input:not(:placeholder-shown) ~ label {
    top: -15px;
    transform-origin: left center;
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    transform: scale(0.6); }
  .block-5 .sninput .group .bar {
    position: relative;
    display: block;
    width: 100%; }
    .block-5 .sninput .group .bar:before, .block-5 .sninput .group .bar:after {
      content: "";
      height: 2px;
      width: 0;
      bottom: 14px;
      position: absolute;
      background: #000;
      -moz-transition: 0.3s ease all;
      -o-transition: 0.3s ease all;
      -webkit-transition: 0.3s ease all;
      transition: 0.3s ease all; }
    .block-5 .sninput .group .bar:before {
      left: 50%; }
    .block-5 .sninput .group .bar:after {
      right: 50%; }
  .block-5 .sninput .group input:focus ~ .bar:before, .block-5 .sninput .group input:focus ~ .bar:after {
    width: 50%; }
  .block-5 .sninput .group input:not(:placeholder-shown) ~ .bar:before, .block-5 .sninput .group input:not(:placeholder-shown) ~ .bar:after {
    width: 50%; }
.block-5 .sportnutrition {
  width: 70%;
  margin-left: auto;
  text-align: center;
  background: #FFF;
  padding: 0; }
  .block-5 .sportnutrition img {
    height: 150px; }
.block-5 .radio-custom {
  opacity: 0;
  position: absolute; }
.block-5 .radio-custom, .block-5 .radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 15px 0;
  cursor: pointer;
  font-size: 1.2em; }
.block-5 .radio-custom-label {
  position: relative;
  font-family: "Proxima";
  font-weight: 600; }
.block-5 .radio-custom + .radio-custom-label:before {
  content: "";
  background: #fff;
  border: 4px solid #000;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  padding: 2px;
  margin-right: 10px;
  margin-bottom: 3px;
  text-align: center; }
.block-5 .radio-custom:checked + .radio-custom-label:before {
  background: #f00; }
.block-5 .radio-custom:focus + .radio-custom-label {
  outline: 1px solid #fff; }
.block-5 button {
  margin: 50px 0 10px;
  background: red;
  color: #000;
  font-family: "Proxima";
  font-weight: 600;
  font-size: 2.2em;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 50px;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1); }
  .block-5 button:hover {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

.block-6 {
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  margin: 150px 0 40px;
  height: 275px;
  background-image: url("../img/block-6/bg.jpg");
  background-size: 1980px auto;
  background-repeat: no-repeat;
  background-position: center 0; }

.block-7 {
  margin-bottom: 150px; }
  .block-7 h2 {
    margin-bottom: 40px; }
  .block-7 button {
    display: block;
    margin: auto;
    background: #e3000b;
    color: #000;
    font-family: "BenderBlack";
    font-weight: 600;
    font-size: 2.2em;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 50px;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
    .block-7 button:hover {
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }

.socnetwork span {
  display: block;
  text-align: center;
  margin: 0.7em 0;
  font-size: 1.7em;
  text-transform: uppercase; }
.socnetwork i {
  font-size: 1.7em;
  color: #a90008;
  line-height: 65px;
  display: block;
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s; }
.socnetwork a {
  height: 100%;
  display: block;
  position: absolute;
  width: 65px;
  top: 0; }
.socnetwork .nolag {
  cursor: pointer; }
.socnetwork .round_network {
  height: 65px;
  background: #000;
  border-radius: 55px;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -webkit-transition: 0.8s;
  transition: 0.8s; }
.socnetwork .nolag:hover .round_network {
  background: #a90008;
  -moz-transform: rotateY(540deg) scale(0.9);
  -o-transform: rotateY(540deg) scale(0.9);
  -webkit-transform: rotateY(540deg) scale(0.9);
  transform: rotateY(540deg) scale(0.9); }
.socnetwork .nolag:hover i {
  -moz-transform: rotateY(-920deg) scale(1.1);
  -o-transform: rotateY(-920deg) scale(1.1);
  -webkit-transform: rotateY(-920deg) scale(1.1);
  transform: rotateY(-920deg) scale(1.1);
  color: #FFF; }

.block-map {
  margin-top: 170px; }
  .block-map h2 {
    margin-bottom: 15px; }
  .block-map #map {
    height: 550px;
    width: 100%; }

.footer {
  padding: 30px 0;
  background: #000; }
  .footer p {
    font-family: "ROBOTO";
    color: #FFF; }
    .footer p a {
      color: red; }
  .footer a {
    font-family: "ROBOTO";
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .footer a:hover {
      -moz-transform: scale(0.9);
      -o-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0.7; }
  .footer .developers img {
    height: 40px;
    padding-right: 10px; }
  .footer .link {
    color: #FFF;
    border-bottom: 1px dashed #FFF; }

.bonus h2 {
  margin: 80px 0 20px; }
.bonus p {
  text-transform: uppercase;
  font-size: 1.1em;
  margin-bottom: 50px; }
.bonus iframe {
  height: 500px; }
.bonus .arrowparty {
  padding: 0; }
  .bonus .arrowparty div {
    background: #bfbfbf;
    display: inline-block;
    margin: 10px 1px 10px 0;
    padding: 10px 20px;
    cursor: pointer;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .bonus .arrowparty div:hover {
      opacity: 0.7; }
    .bonus .arrowparty div img {
      width: 20px;
      vertical-align: middle; }
  .bonus .arrowparty .arrow_left img {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
.bonus .ow-mob {
  display: none; }
.bonus .owl-carousel .owl-item img {
  width: auto;
  height: 500px;
  margin-left: auto; }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .bonus_card .block_f .first {
    font-size: 2.2em; }
  .bonus_card .block_f .second {
    font-size: 1.2em; }
  .bonus_card .block_f .third {
    font-size: 1.1em; } }
@media (min-width: 768px) {
  .block_s {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .block_s2 {
    display: none; } }
@media (max-width: 768px) {
  .block_s {
    display: none; }

  .block_s2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }
@media (min-width: 480px) and (max-width: 767.98px) {
  h2 {
    font-size: 1.9em; }

  .block-4 .bg1, .block-4 .bg2 {
    height: auto;
    background-image: none; }

  .block-5 .sportnutrition {
    width: 100%; }
  .block-5 button {
    font-size: 1.7em; }

  .footer p {
    font-size: 0.8em; } }
@media (max-width: 479px) {
  .ow-desc {
    display: none !important; }

  .ow-mob {
    display: block;
    position: relative; }
    .ow-mob .card {
      position: absolute;
      width: 100%; }
    .ow-mob img {
      width: 100%; }

  .preload img {
    width: 100%; }

  .block-3 .group input, .hidden_cardbye .group input, .block_s .group input, .block_s2 .group input {
    margin: 0px auto 10px; }

  .bonus_card .block_f .builder {
    width: 350%; }
  .bonus_card .block_f .first {
    margin-top: 20px;
    font-size: 1.2em; }
  .bonus_card .block_f .second {
    display: none;
    font-size: 0.8em; }
  .bonus_card .block_f .third {
    font-size: 0.6em; }
  .bonus_card .block_f button {
    font-size: 0.6em;
    padding: 10px 20px;
    margin-bottom: 5px; }

  .bonus_card__2 .block_s2 .political_par [type="checkbox"] + label {
    font-size: 0.5em;
    padding-left: 0px; }
    .bonus_card__2 .block_s2 .political_par [type="checkbox"] + label:before, .bonus_card__2 .block_s2 .political_par [type="checkbox"] + label:after {
      opacity: 0 !important; }

  .bonus_card__2 .block_s2 .first {
    font-size: 1.4em;
    margin-top: 20px; }

  .bonus_card .closer, .bonus_card__2 .closer {
    margin-left: -15px;
    width: 16px; }

  .hidden_info .logo {
    width: 100%; }
  .hidden_info .closer {
    margin-top: 5px;
    width: 30px; }
    .hidden_info .closer img {
      width: 100%; }
  .hidden_info p, .hidden_info a {
    font-size: 0.8em; }

  .overfloff {
    padding-right: 0; }

  mobbr {
    display: block; }

  h2 {
    font-size: 1.5em; }

  .block-1 header {
    padding: 10px 0;
    background-color: #a90008; }
  .block-1 .underheader {
    padding-bottom: 0; }
    .block-1 .underheader h1 {
      font-size: 1.5em; }
  .block-1 .owl-carousel .card {
    width: 100%; }

  .block-2 {
    padding: 40px 0;
    text-align: center; }
    .block-2 p {
      font-size: 0.7em;
      margin: 6px 0 40px; }
    .block-2 .titlsgo span {
      font-size: 1em; }

  .block-3 {
    padding: 50px 0; }
    .block-3 .political_par {
      font-size: 0.5em; }

  .block-3 button, .hidden_cardbye button {
    font-size: 1.2em;
    margin-top: 15px; }

  .block-4 h2 {
    padding: 50px 0; }
  .block-4 h3 {
    margin: 30px 0 20px;
    font-size: 1em; }
  .block-4 p {
    font-size: 0.68em; }
  .block-4 .bg1, .block-4 .bg2 {
    height: auto;
    background-image: none; }
    .block-4 .bg1 .h-100, .block-4 .bg2 .h-100 {
      height: auto !important; }
  .block-4 .margintop {
    margin-top: 15px; }
  .block-4 .bg2 {
    margin-top: 25px; }

  .block-5 {
    font-size: 1em; }
    .block-5 .margh3 {
      margin: 10px 0 100px; }
    .block-5 .mar40px {
      margin-bottom: 10px; }
    .block-5 h2 {
      font-size: 1.2em;
      margin-bottom: 15px; }
    .block-5 h3 {
      font-size: 1.2em; }
    .block-5 .sportnutrition {
      margin-right: auto; }
    .block-5 .sn {
      margin-top: 0; }
      .block-5 .sn .sportnutrition {
        margin-bottom: 15px; }
    .block-5 .radio-custom, .block-5 .radio-custom-label {
      font-size: 0.9em; }
    .block-5 button {
      margin: 20px 0;
      font-size: 1em; }
    .block-5 .sninput button {
      margin-top: 0; }
    .block-5 .sninput .sportnutrition {
      margin-bottom: 20px; }

  .block-6 {
    background-size: 180% auto;
    height: 115px;
    margin-top: 40px; }

  .block-7 {
    margin-bottom: 60px; }
    .block-7 h2 {
      margin-bottom: 30px;
      font-size: 1.2em; }
    .block-7 button {
      font-size: 1.5em; }

  .socnetwork span {
    font-size: 1.2em;
    margin: 0.4em 0 1em; }
  .socnetwork .round_network {
    height: 50px; }
  .socnetwork i {
    font-size: 1.2em;
    line-height: 50px; }
  .socnetwork .col-2 {
    padding-right: 7px;
    padding-left: 7px; }

  .block-map {
    margin-top: 50px; }

  .hidden_cardbye .closer {
    width: 30px;
    right: 10px;
    top: -30px; }
  .hidden_cardbye p {
    font-size: 1em;
    margin: 10px 0 20px; }
  .hidden_cardbye .political_par [type="checkbox"] + label {
    font-size: 0.7em; }

  .block-map #map {
    height: 400px; }

  .footer {
    padding: 15px 0; }
    .footer .link {
      font-size: 0.5em; }
    .footer p {
      font-size: 0.6em; }
    .footer img {
      height: 30px; }

  .bonus p {
    font-size: 0.85em; }
  .bonus iframe, .bonus .owl-carousel .owl-item img {
    height: 200px; } }

/*# sourceMappingURL=index.css.map */
