@font-face
    font-family: "Bender"
    src : url("../fonts/Bender.otf")
@font-face
    font-family: "BenderBlack"
    src : url("../fonts/Bender_Black.otf")
@font-face
    font-family: "Proxima"
    src : url("../fonts/ProximaNova-Regular.ttf")
