@import "fonts.sass"
@mixin placeholder
    &::-webkit-input-placeholder
        @content
    &:-moz-placeholder
        @content
    &::-moz-placeholder
        @content
    &:-ms-input-placeholder
        @content
@mixin transition($transition)
    -moz-transition:    $transition
    -o-transition:      $transition
    -webkit-transition: $transition
    transition:         $transition
@mixin transform($transform...)
    -moz-transform:    $transform
    -o-transform:      $transform
    -webkit-transform: $transform
    transform:         $transform
@mixin noselect
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    margin: 0
input[type='number']
    -moz-appearance: textfield
body
    margin: 0
    font-family: 'BenderBlack'
    &:active,:hover,:focus
        outline: 0
        outline-offset: 0
    &::-webkit-scrollbar-track
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
        border-radius: 10px
        background-color: #F5F5F5
    &::-webkit-scrollbar
        width: 8px
        background-color: #F5F5F5
    &::-webkit-scrollbar-thumb
        border-radius: 0px
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
        background-color: #000
button
    border: 0
    border-radius: 0
    cursor: pointer
    color: #FFF
    @include transition(0.3s ease all)
ul, li, ol
    margin: 0
    padding: 0
    list-style-type: none
h1,h2,h3,h4,h5,p,a,span,address,li,label,mobbr
    font-size: 1em
    margin: 0
    line-height: 1.3
    &::selection
        background-color: #F00
        color: #FFF
    &::-moz-selection
        background-color: #F00
        color: #FFF
h1,h2,h3,h4,h5,p,span,address,li,label,a:not([href]):not([tabindex])
    cursor: default
.w-100
    width: 100% !important
.h-100
    height: 100% !important
.m-0
    margin: 0 !important
.text-center
    text-align: center !important
.text-right
    text-align: right !important
.overfloff
    overflow: hidden
    padding-right: 8px
    .bc, .hidden_cardbye, .hidden_info, .preload
        padding-right: 8px
h2
    font-weight: 600
    font-size: 2.9em
    text-transform: uppercase
.whitepower
    background-color: #000 !important
    @include transition(1.5s ease opacity)
    img
        display: none
.preload
    z-index: 220
    background-color: #000
    width: 100%
    height: 100%
    position: fixed
.gogobonuspower
    opacity: 0
.political_par
    text-align: center
    a
        text-decoration-style: dashed
    [type="checkbox"]:checked, [type="checkbox"]:not(:checked)
        position: absolute
        //left: -9999px//
        opacity: 0
    [type="checkbox"]:checked + label, [type="checkbox"]:not(:checked) + label
        position: relative
        padding-left: 17px
        cursor: pointer
        line-height: 10px
        display: inline-block
    [type="checkbox"]:checked + label
        color: #FFF
        font-family: ROBOTO
        a
            color: #FFF
    [type="checkbox"]:not(:checked) + label
        color: #ff0000
        font-family: ROBOTO
        a
            color: #ff0000
    [type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before
        content: ''
        position: absolute
        left: 0
        top: 0
        width: 10px
        height: 10px
        border: 1px solid #ddd
        background: transparent
    [type="checkbox"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after
        content: ''
        width: 8px
        height: 8px
        background: #FFF
        position: absolute
        top: 1px
        left: 1px
        @include transition(all 0.2s ease)
    [type="checkbox"]:not(:checked) + label:after
        opacity: 0
        @include transform(scale(0))
    [type="checkbox"]:checked + label:after
        opacity: 1
        @include transform(scale(1))
.bonus_card, .bonus_card__2
    //** display: none **//
    display: none
    position: fixed
    bottom: 0
    left: 0
    background-color: #000
    width: 100%
    p
        color: #FFF
        z-index: 1
        text-transform: uppercase
        font-style: italic
    .closer
        margin-top: 10px
        width: 30px
        cursor: pointer
        @include transition(.3s)
        &:hover
            opacity: .6
            @include transform(scale(.8))
.bonus_card
    z-index: 155
    .block_f
        text-align: right
        .builder
            width: 122%
        .first
            font-size: 3em
        .second
            color: #F00
            font-size: 1.7em
            margin-top: 6px
        .third
            font-family: 'Bender'
            font-size: 1.4em
            margin-top: 6px
        button
            background-color: #c30202
            font-size: 1.3em
            text-transform: uppercase
            padding: 15px 35px
            margin-top: 20px
            border: none
            border-radius: 30px
            font-weight: 600
            @include transform(scale(1.1))
            &:hover
                @include transform(scale(1))
.bonus_card__2
    z-index: 145
    display: none
    .block_s
        p
            margin-left: 50px
        .builder
            width: 198%
        .first
            font-size: 3em
            margin-top: 20px
        .second
            font-size: 1.5em
            margin-top: 20px
        .martop
            margin-top: 10px
            button
                background-color: #c30202
                color: #FFF
            .political_par
                margin: 10px auto
                font-size: 0.5em
    .block_s2
        .political_par [type="checkbox"] + label
            font-size: .5em
        .first
            font-size: 1.5em
        .group
            margin-bottom: 16px
        button
            font-size: .7em
            padding: 10px 0
            margin-bottom: 10px
.hidmenu
    padding: 25px 15px
    border-bottom: 1px solid #000
    a
        display: block
        color: #000
        text-decoration: none
        font-size: 1.4em
        margin: 10px 0
.hidden_info
    display: none
    background: linear-gradient(to bottom, #ce1c1c, #5b010e)
    position: fixed
    height: 100%
    width: 100%
    z-index: 200
    .logo
        width: 300px
    .text-scale
        @include transform(rotate3d(20,0,0,-90deg))
    .no-scale
        @include transform(scale(0))
    .images
        img
            @include transition(.2s)
    .closer
        width: 50px
        margin-left: auto
        margin-top: 15px
        cursor: pointer
        @include transition(.3s)
        &:hover
            opacity: .6
            @include transform(scale(.8))
    .vh-100
        height: 100vh
    p, a
        font-family: "Bender"
        color: #FFF
        @include transition(.5s)
    a:hover
        opacity: .6
    .onas_arrow
        div
            background: rgba(130,58,67,0.7)
            display: inline-block
            margin: 10px 1px 10px 0
            padding: 10px 20px
            cursor: pointer
            @include transition(.5s)
            &:hover
                opacity: .7
            img
                width: 20px
                vertical-align: middle
        .onas_left
            img
                @include transform(rotate(180deg))
.hidden_cardbye
    display: none
    background: linear-gradient(to bottom, #ce1c1c, #5b010e)
    position: fixed
    height: 100%
    width: 100%
    z-index: 200
    .success
        h2, p
            color: #FFF
    .political_par
        font-size: 0.66em
        margin: 8px 0
    .closer
        position: absolute
        width: 50px
        top: -50px
        right: 50px
        cursor: pointer
        @include transition(.3s)
        &:hover
            opacity: .6
            @include transform(scale(.8))
        img
            width: 100%
    .bonus
        a
            display: inline-block
            @include transition(.3s)
            &:hover
                @include transform(scale(.8))


    p
        font-size: 1.6em
        text-transform: uppercase
        margin: 20px 0 40px
.gobonus
    position: fixed
    height: 100%
    width: 100%
    z-index: 170
    background-color: #000
.block-1
    background: linear-gradient(to bottom, #ce1c1c, #5b010e)
    background-size: 100% 100%
    background-position: center center
    background-repeat: no-repeat
    header
        padding: 30px 0
        .col-6
            img
                @include transition(.3s)
                &:hover
                    opacity: .7
        .col-auto
            a
                display: flex
                text-decoration: none
                font-style: italic
                color: #FFF
                @include transition(.3s)
                &:hover
                    opacity: .7
            .link
                &:after
                    @include transition(.3s)
                    content: ""
                    position: absolute
                    height: 3px
                    background: #FFF
                    width: 0
                    bottom: -3px
                &:hover
                    &:after
                        width: 30px
            .address
                &:after
                    margin-left: 25px
            .phone
                transform: scale(1.5)
        .icon
            height: 15px
            margin-right: 4px
            align-self: center
    .underheader
        padding-bottom: 95px
        h1
            text-transform: uppercase
            text-align: center
            font-style: italic
            font-size: 3em
            color: #FFF
            margin: 10px 0
            &::selection
                background-color: #F00
                color: #000
            &::-moz-selection
                background-color: #F00
                color: #000
    .owl-carousel
        .card
            position: absolute
            width: 350px
            top: 0
            bottom: 0
            left: 30px
            margin: auto
            cursor: pointer
            @include transition(.5s)
            &:hover
                opacity: .7
    .arrowparty
        div
            background: rgba(130,58,67,0.7)
            display: inline-block
            margin: 10px 1px 10px 0
            padding: 10px 20px
            cursor: pointer
            @include transition(.5s)
            &:hover
                opacity: .7
            img
                width: 20px
                vertical-align: middle
        .arrow_left
            img
                @include transform(rotate(180deg))
.block-2
    padding: 70px 0
    font-weight: 600
    text-transform: uppercase
    p
        font-size: 1.6em
        margin-bottom: 70px
    .titlsgo
        @include transition (all .4s)
        cursor: pointer
        margin-bottom: 30px
        &:hover
            opacity: .8
        img
            width: 100%
            display: block
        span
            background: #000
            color: #FFF
            font-size: 0.85em
            text-align: center
            padding: 5px 0
            bottom: 0
            top: 0
            width: 100%
            display: block

.block-3
    background: linear-gradient(to bottom, #ce1c1c, #5b010e)
    padding: 100px 0
    font-weight: 600
    text-transform: uppercase
    text-align: center
    h2
        margin-bottom: 50px
    label
        text-transform: none
    .political_par
        margin-top: 10px
        font-size: 0.6em
.block-3, .hidden_cardbye, .block_s, .block_s2
    .group
        position: relative
        margin-bottom: 30px
        input
            display: block
            margin: 10px auto
            background-color: transparent
            padding: 10px 5px
            width: 100%
            border: none
            border-radius: 0
            border-bottom: 1px solid rgba(255,255,255,.5)
            color: transparent
            font-size: 1em
            font-weight: 600
            &:focus, &:not(:placeholder-shown)
                color: #FFF
            @include placeholder
                color: transparent
        label
            font-family: ROBOTO
            color: #FFF
            position: absolute
            pointer-events: none
            left: 5px
            top: 10px
            @include transition(0.3s ease all)
            @include noselect
        input:focus-within ~ label, input:not(:placeholder-shown) ~ label
            top: -15px
            transform-origin: left center
            @include transform(scale(.6))
        .bar
            position: relative
            display: block
            width: 100%
            &:before, &:after
                content: ""
                height: 2px
                width: 0
                bottom: 10px
                position: absolute
                background: #FFF
                @include transition(0.3s ease all)
            &:before
                left: 50%
            &:after
                right: 50%
        input:focus ~ .bar:before, input:focus ~ .bar:after
            width: 50%
        input:not(:placeholder-shown)  ~ .bar:before, input:not(:placeholder-shown)  ~ .bar:after
            width: 50%
        //input:invalid  ~ .bar:before, input:invalid  ~ .bar:after
            background: #F00//
    button
        color: #000
        width: 100%
        margin-top: 5px
        padding: 15px 0
        font-weight: 600
        font-size: 1.2em
        border-radius: 50px
        background: #FFF
        @include transform(scale(1.1))
        &:hover
            @include transform(scale(1))
.block-4
    h2
        padding: 150px 0
    h3
        font-size: 1.6em
        font-weight: 600
        text-transform: uppercase
        margin: 0px 0 40px
    p
        font-size: 1.17em
        line-height: 1.2em
        font-family: 'Bender'
    .bg1
        background-image: url('../img/block-4/bg1.jpg')
        background-repeat: no-repeat
        background-size: 1980px auto
        background-position: center center
        height: 467px
    .bg2
        background-image: url('../img/block-4/bg2.jpg')
        background-repeat: no-repeat
        background-size: 1980px auto
        background-position: center center
        height: 467px
        margin-top: 145px
.block-5
    .margh3
        margin: 60px 0 180px
    .mar40px
        margin: 40px 0
    h3
        text-transform: uppercase
        font-size: 1.6em
        text-align: center
        font-weight: 600
    .sn
        margin-top: 40px
    .sninput
        .political_par
            font-size: .75em
            margin-bottom: 20px
            [type="checkbox"]:checked + label, [type="checkbox"]:checked + label a
                color: #000
            [type="checkbox"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after
                background: #000
            [type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before
                left: 2px
                top: 2px
            [type="checkbox"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after
                top: 3px
                left: 3px
        .group
            position: relative
            margin-bottom: 30px
            input
                display: block
                margin: 15px auto
                background-color: transparent
                padding: 10px 5px
                width: 100%
                border: none
                border-bottom: 1px solid #000
                color: transparent
                font-size: 1em
                font-weight: 600
                @include placeholder
                    color: transparent
                &:focus, &:not(:placeholder-shown)
                    color: #000
            label
                font-family: ROBOTO
                color: #000
                position: absolute
                pointer-events: none
                left: 5px
                top: 10px
                @include transition(0.3s ease all)
                @include noselect
            input:focus ~ label, input:not(:placeholder-shown) ~ label
                top: -15px
                transform-origin: left center
                @include transform(scale(.6))
            .bar
                position: relative
                display: block
                width: 100%
                &:before, &:after
                    content: ""
                    height: 2px
                    width: 0
                    bottom: 14px
                    position: absolute
                    background: #000
                    @include transition(0.3s ease all)
                &:before
                    left: 50%
                &:after
                    right: 50%
            input:focus ~ .bar:before, input:focus ~ .bar:after
                width: 50%
            input:not(:placeholder-shown)  ~ .bar:before, input:not(:placeholder-shown)  ~ .bar:after
                width: 50%
    .sportnutrition
        width: 70%
        margin-left: auto
        text-align: center
        background: #FFF
        padding: 0
        img
            height: 150px
    .radio-custom
        opacity: 0
        position: absolute
    .radio-custom, .radio-custom-label
        display: inline-block
        vertical-align: middle
        margin: 15px 0
        cursor: pointer
        font-size: 1.2em
    .radio-custom-label
        position: relative
        font-family: 'Proxima'
        font-weight: 600
    .radio-custom + .radio-custom-label:before
        content: ''
        background: #fff
        border: 4px solid #000
        border-radius: 50%
        display: inline-block
        vertical-align: middle
        width: 25px
        height: 25px
        padding: 2px
        margin-right: 10px
        margin-bottom: 3px
        text-align: center
    .radio-custom:checked + .radio-custom-label:before
        background: #f00
    .radio-custom:focus + .radio-custom-label
        outline: 1px solid #fff
    button
        margin: 50px 0 10px
        background: red
        color: #000
        font-family: 'Proxima'
        font-weight: 600
        font-size: 2.2em
        text-transform: uppercase
        padding: 10px 20px
        border-radius: 50px
        @include transform(scale(1))
        &:hover
            @include transform(scale(1.1))
.block-6
    @include transition(.1s)
    margin: 150px 0 40px
    height: 275px
    background-image: url('../img/block-6/bg.jpg')
    background-size: 1980px auto
    background-repeat: no-repeat
    background-position: center 0
.block-7
    margin-bottom: 150px
    h2
        margin-bottom: 40px
    button
        display: block
        margin: auto
        background: #e3000b
        color: #000
        font-family: 'BenderBlack'
        font-weight: 600
        font-size: 2.2em
        text-transform: uppercase
        padding: 10px 20px
        border-radius: 50px
        @include transform(scale(1))
        &:hover
            @include transform(scale(1.1))
.socnetwork
    span
        display: block
        text-align: center
        margin: 0.7em 0
        font-size: 1.7em
        text-transform: uppercase
    i
        font-size: 1.7em
        color: #a90008
        line-height: 65px
        display: block
        @include transition(1s)
    a
        height: 100%
        display: block
        position: absolute
        width: 65px
        top: 0
    .nolag
        cursor: pointer
    .round_network
        height: 65px
        background: #000
        border-radius: 55px
        @include transition(.8s)
    .nolag:hover .round_network
        background: #a90008
        @include transform(rotateY(540deg) scale(.9))
    .nolag:hover i
        @include transform(rotateY(-920deg) scale(1.1))
        color: #FFF
.block-map
    margin-top: 170px
    h2
        margin-bottom: 15px
    #map
        height: 550px
        width: 100%
.footer
    padding: 30px 0
    background: #000
    p
        font-family: "ROBOTO"
        color: #FFF
        a
            color: red
    a
        font-family: "ROBOTO"
        display: inline-block
        cursor: pointer
        text-decoration: none
        @include transition(0.3s)
        &:hover
            @include transform(scale(.9))
            opacity: .7
    .developers
        img
            height: 40px
            padding-right: 10px
    .link
        color: #FFF
        border-bottom: 1px dashed #FFF
.bonus
    h2
        margin: 80px 0 20px
    p
        text-transform: uppercase
        font-size: 1.1em
        margin-bottom: 50px
    iframe
        height: 500px
    .arrowparty
        padding: 0
        div
            background: #bfbfbf
            display: inline-block
            margin: 10px 1px 10px 0
            padding: 10px 20px
            cursor: pointer
            @include transition(.5s)
            &:hover
                opacity: .7
            img
                width: 20px
                vertical-align: middle
        .arrow_left
            img
                @include transform(rotate(180deg))
    .ow-mob
        display: none
    .owl-carousel .owl-item img
        width: auto
        height: 500px
        margin-left: auto
@media (min-width:992px) and (max-width:1199.98px)
    .bonus_card
        .block_f
            .first
                font-size: 2.2em
            .second
                font-size: 1.2em
            .third
                font-size: 1.1em
@media (min-width:768px)
    .block_s
        display: -webkit-box
        display: -ms-flexbox
        display: flex
    .block_s2
        display: none
@media (max-width:768px)
    .block_s
        display: none
    .block_s2
        display: -webkit-box
        display: -ms-flexbox
        display: flex
@media (min-width:768px) and (max-width:991.98px)

@media (min-width:480px) and (max-width:767.98px)
    h2
        font-size: 1.9em
    .block-4
        .bg1, .bg2
            height: auto
            background-image: none
    .block-5
        .sportnutrition
            width: 100%
        button
            font-size: 1.7em
    .footer
        p
            font-size: 0.8em
@media (max-width:479px)
    .ow-desc
        display: none !important
    .ow-mob
        display: block
        position: relative
        .card
            position: absolute
            width: 100%
        img
            width: 100%
    .preload
        img
            width: 100%
    .block-3, .hidden_cardbye, .block_s, .block_s2
        .group
            input
                margin: 0px auto 10px
    .bonus_card
        .block_f
            .builder
                width: 350%
            .first
                margin-top: 20px
                font-size: 1.2em
            .second
                display: none
                font-size: 0.8em
            .third
                font-size: 0.6em
            button
                font-size: 0.6em
                padding: 10px 20px
                margin-bottom: 5px
    .bonus_card__2 .block_s2 .political_par [type="checkbox"] + label
        font-size: 0.5em
        padding-left: 0px
        &:before, &:after
            opacity: 0 !important
    .bonus_card__2 .block_s2 .first
        font-size: 1.4em
        margin-top: 20px
    .bonus_card .closer, .bonus_card__2 .closer
        margin-left: -15px
        width: 16px
    .hidden_info
        .logo
            width: 100%
        .closer
            margin-top: 5px
            width: 30px
            img
                width: 100%
        p, a
            font-size: .8em
    .overfloff
        padding-right: 0
    mobbr
        display: block
    h2
        font-size: 1.5em
    .block-1
        header
            padding: 10px 0
            background-color: #a90008
        .underheader
            padding-bottom: 0
            h1
                font-size: 1.5em
        .owl-carousel .card
            width: 100%
    .block-2
        padding: 40px 0
        text-align: center
        p
            font-size: 0.7em
            margin: 6px 0 40px
        .titlsgo span
            font-size: 1em
    .block-3
        padding: 50px 0
        .political_par
            font-size: 0.5em
    .block-3, .hidden_cardbye
        button
            font-size: 1.2em
            margin-top: 15px
    .block-4
        h2
            padding: 50px 0
        h3
            margin: 30px 0 20px
            font-size: 1em
        p
            font-size: 0.68em
        .bg1, .bg2
            height: auto
            background-image: none
            .h-100
                height: auto !important
        .margintop
            margin-top: 15px
        .bg2
            margin-top: 25px
    .block-5
        font-size: 1em
        .margh3
            margin: 10px 0 100px
        .mar40px
            margin-bottom: 10px
        h2
            font-size: 1.2em
            margin-bottom: 15px
        h3
            font-size: 1.2em
        .sportnutrition
            margin-right: auto
        .sn
            margin-top: 0
            .sportnutrition
                margin-bottom: 15px
        .radio-custom, .radio-custom-label
            font-size: 0.9em
        button
            margin: 20px 0
            font-size: 1em
        .sninput
            button
                margin-top: 0
            .sportnutrition
                margin-bottom: 20px
    .block-6
        background-size: 180% auto
        height: 115px
        margin-top: 40px
    .block-7
        margin-bottom: 60px
        h2
            margin-bottom: 30px
            font-size: 1.2em
        button
            font-size: 1.5em
    .socnetwork
        span
            font-size: 1.2em
            margin: 0.4em 0 1em
        .round_network
            height: 50px
        i
            font-size: 1.2em
            line-height: 50px
        .col-2
            padding-right: 7px
            padding-left: 7px
    .block-map
        margin-top: 50px
    .hidden_cardbye
        .closer
            width: 30px
            right: 10px
            top: -30px
        p
            font-size: 1em
            margin: 10px 0 20px
        .political_par [type="checkbox"] + label
            font-size: .7em
    .block-map #map
        height: 400px
    .footer
        padding: 15px 0
        .link
            font-size: .5em
        p
            font-size: 0.6em
        img
            height: 30px
    .bonus
        p
            font-size: 0.85em
        iframe, .owl-carousel .owl-item img
            height: 200px
